.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-1 .u-image-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  width: 480px;
  height: 272px;
  margin: 78px auto 0 323px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 34px 371px 0 auto;
  padding: 11px 2px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -45px auto 60px 336px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 136px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 111px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: 230px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -792px;
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-image-1 {
    width: 507px;
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-right: 127px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -50px;
    margin-bottom: 32px;
    margin-left: 150px;
    padding: 11px 46px 11px 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 42px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 152px;
    --animation-custom_in-scale: 0.3;
    margin-top: 16px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 24px;
    margin-right: 36px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-btn-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: 36px;
    padding-right: 26px;
    padding-left: 25px;
  }
}